# SPDX-License-Identifier: MPL-2.0
# SPDX-FileCopyrightText: {{ '%Y' | strftime }} {{ name }}
from pathlib import Path
from shutil import rmtree

import nox

VIRTUAL_ENVIRONMENT = ".venv"
PYTHON = Path(VIRTUAL_ENVIRONMENT).absolute() / "bin" / "python"
PYTHON_VERSION = "3.12"


@nox.session(python=False)
def dev(session) -> None:
    """Set up a virtual environment"""
    rmtree(VIRTUAL_ENVIRONMENT, ignore_errors=True)
    session.run(
        f"python{PYTHON_VERSION}",
        "-m",
        "venv",
        "--upgrade-deps",
        VIRTUAL_ENVIRONMENT,
    )
    session.run(
        PYTHON,
        "-m",
        "pip",
        "install",
        "--use-pep517",
        "--editable=.[dev]",
    )


@nox.session()
def reuse(session) -> None:
    """Check the current project against the reuse specification"""
    session.install("reuse")
    session.run("reuse", "--version")
    session.run("reuse", "lint")
