[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "{{ my_directory | default(_copier_conf.dst_path | basename) }}"
authors = [{name = "{{ name }}", email = "{{ email }}"}]
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
classifiers = [
  "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
  "Programming Language :: Python :: 3.12",
]
dynamic = ["version", "description"]
dependencies = [
]

[project.optional-dependencies]
dev = [
  "black",
  "flake8",
  "flit",
  "nox",
  "reorder-python-imports",
  "reuse",
]

[project.urls]
Home = "https://gitlab.com/{{ username }}/{{ my_directory | default(_copier_conf.dst_path | basename) }}"

[project.scripts]
{{ my_directory | default(_copier_conf.dst_path | basename) }} = "{{ my_directory | default(_copier_conf.dst_path | basename) }}:main"
