# {{ my_directory | default(_copier_conf.dst_path | basename) }}

<!-- SPDX-License-Identifier: MPL-2.0 -->
<!-- SPDX-FileCopyrightText: {{ '%Y' | strftime }} {{ name }} -->

## Development

Set up a Python virtual environment using [nox]:

    nox

[nox]: https://nox.thea.codes/en/stable/
