{%- if my_directory is not defined -%}
{%- set my_directory = _copier_conf.dst_path | basename -%}
{%- endif -%}
{{_copier_answers.update({'my_directory': my_directory})|default(_copier_answers, true)|to_nice_yaml|trim}}
