Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{ my_directory | default(_copier_conf.dst_path | basename) }}
Upstream-Contact: {{ name }} <{{ email }}>
Source: https://gitlab.com/{{ username }}/{{ my_directory | default(_copier_conf.dst_path | basename) }}

# data or metadata file files
Files:
  .copier-answers.yml
  .en.utf-8.add
  .flake8
  .gitignore
  pyproject.toml
Copyright: {{ '%Y' | strftime }}  {{ name }} <{{ email }}>
License: CC0-1.0
