"""{{ docstring }}"""
# SPDX-License-Identifier: MPL-2.0
# SPDX-FileCopyrightText: {{ '%Y' | strftime }} {{ name }}
__version__ = "{{ '%Y.%m.%d' | strftime | replace(".0", ".") }}"


def main() -> int:
    print("hello world")

    return 0


if __name__ == "__main__":
    raise SystemExit(main())
